* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100%;
    background: linear-gradient(135deg, #ffffff,#f5f5f5,#aeadad);
    background-size: 300% 300%;
    animation: moveBg 15s ease infinite;
    overflow-x: hidden;
}
@keyframes moveBg {
     0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.voltar {
    display: block;
    text-align: center;
    margin: 40px auto;
    width: 200px;
    padding: 15px;
    background: linear-gradient(135deg, #f0a348, #ae3e8c);
    border-radius: 40px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
}

.balao-cadastro {
    width: 480px;
    margin: 40px auto;
    background: linear-gradient(135deg, #f0a348, #ae3e8c);
    padding: 50px 45px;
    border-radius: 40px;
    color: #fff;
    text-align: center;
}

.balao-cadastro h1 {
    font-size: 45px;
    margin-bottom: 35px;
    font-family: 'Georgia', serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 15px;
}

label {
    text-align: left;
    font-weight: 600;
}

input, select {
    padding: 15px;
    border-radius: 40px;
    border: none;
    outline: none;
    font-size: 15px;
}

.radio-group {
    display: flex;
    gap: 20px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 8px;
}


.botao-cadastrar {
    margin-top: 25px;
    padding: 14px;
    width: 60%;
    border-radius: 40px;
    border: none;
    background: white;
    color: #333;
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
    align-self: center;
}
