* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100%;
    background: linear-gradient(135deg, #ffffff,#f5f5f5,#aeadad);
    background-size: 300% 300%;
    animation: moveBg 15s ease infinite;
    overflow-x: hidden;
}
@keyframes moveBg {
     0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h1 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 35px;
    color: #7c004e;
    font-family: 'Georgia', serif;
}

.balao-denuncia {
    background: linear-gradient(135deg, #f0a348, #ae3e8c);
    padding: 35px;
    border-radius: 35px;
    color: white;
    width: 90%;
    max-width: 900px;
    margin: 0 auto 40px auto;
    font-size: 18px;
    line-height: 1.5;
}

.balao-denuncia p {
    margin: 10px 0;
}

.balao-denuncia strong {
    font-weight: 700;
}

.botao-apoio {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 25px;
    background: white;
    color: #7c004e;
    border-radius: 40px;
    font-weight: 700;
    text-decoration: none;
}

.bloco-comentario {
    background: white;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0,0,0,0.08);
    width: 90%;
    max-width: 900px;
    margin: 0 auto 40px auto;
    font-size: 18px;
}

textarea {
    width: 100%;
    height: 120px;
    border-radius: 18px;
    border: 2px solid #ccc;
    padding: 12px;
    font-family: inherit;
    font-size: 16px;
}

button {
    margin-top: 15px;
    padding: 12px 25px;
    border: none;
    border-radius: 40px;
    background: #7c004e;
    color: white;
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
}

h3 {
    color: #7c004e;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 26px;
}

.comentarios {
    width: 90%;
    max-width: 900px;
    margin: 0 auto 40px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comentario {
    background: linear-gradient(135deg, #ae3e8c, #f0a348);
    padding: 22px;
    border-radius: 25px;
    color: white;
    font-size: 17px;
}

.voltar {
    display: block;
    text-align: center;
    margin: 30px auto 0 auto;
    width: 200px;
    padding: 15px;
    background: linear-gradient(135deg, #f0a348, #ae3e8c);
    border-radius: 40px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
}
